/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

.help-text{
    color: #f00;
}
.has-error{
    color: #f00;
}
.has-error .form-control{
    border: #f00 1px solid;    
}